.modal-dialog
  .modal-content
    = form_for @target, url: targets_path, remote: true do |f|
      .modal-header
        %h4.modal-title
          = t(:targets)[:new_header]
        %button.close{ type: 'button', aria: { label: 'Close' }, data: { dismiss: 'modal' } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        #formErrors
        = f.hidden_field :department_id
        = f.hidden_field :year, value: year
        .form-group
          = f.label :name, t(:targets)[:fields][:name], class: 'required'
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :category_id, t(:targets)[:fields][:category][:field], class: 'required'
          = f.select :category_id, options_from_collection_for_select(Category.all, :id, :name), { include_blank: t(:targets)[:fields][:category][:select] }, class: 'form-control'
        .form-group
          = f.label :unit, t(:targets)[:fields][:unit], class: 'required'
          = f.text_field :unit, class: 'form-control'
        .form-group
          = f.label :unit_type, t(:targets)[:fields][:unit_type][:field], class: 'required'
          = f.select :unit_type, options_for_select(Target::UNIT_TYPES), { include_blank: t(:targets)[:fields][:unit_type][:select] }, class: 'form-control'
        .form-group
          = f.label :compare_to_value, t(:targets)[:fields][:compare_to_value], class: 'required'
          = f.text_field :compare_to_value, class: 'form-control'
        .form-group
          = f.label :comments, t(:targets)[:fields][:comments]
          = f.text_area :comments, rows: 3, class: 'form-control'
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]
        = f.submit t(:actions)[:submit], class: 'btn btn-primary'
