.modal-dialog
  .modal-content
    = form_for @target, url: targets_path, remote: true do |f|
      .modal-header
        %h4.modal-title.text-center
          = 'Create a new Target'
        %button.close{ type: 'button', aria: { label: 'Close' }, data: { dismiss: 'modal' } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        #formErrors
        = f.hidden_field :department_id
        .form-group
          = f.label :name, t(:targets)[:name], class: 'required'
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :category_id, t(:targets)[:category], class: 'required'
          = f.select :category_id, options_from_collection_for_select(categories, :id, :name), {}, class: 'form-control'
        .form-group
          = f.label :unit, t(:targets)[:unit], class: 'required'
          = f.text_field :unit, class: 'form-control'
        .form-group
          = f.label :update_frequency, t(:targets)[:update_frequency], class: 'required'
          .form-check
            = f.label :update_frequency, class: 'form-check-label' do
              = f.radio_button :update_frequency, t(:targets)[:monthly], class: 'form-check-input'
              = t(:targets)[:monthly]
          .form-check
            = f.label :update_frequency, class: 'form-check-label' do
              = f.radio_button :update_frequency, t(:targets)[:yearly], class: 'form-check-input'
              = t(:targets)[:yearly]
        .form-group
          = f.label :comments, t(:targets)[:comments]
          = f.text_area :comments, rows: 3, class: 'form-control'
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = 'Close'
        = f.submit t(:actions)[:submit], class: 'btn btn-primary'
