.row#targetsContainer
  .col-lg-10
    %h2.mt-5
      = t(:targets)[:table][:header]
  .col-lg-2.d-flex.justify-content-end.align-items-end
    = link_to t(:targets)[:new], 'javascript:void(0)', class: 'btn btn-block btn-success text-white mb-1'
  .col-lg-12
    %table.table.table-bordered.table-sm#targetsTable
      %thead.bg-secondary.text-white.text-center
        %tr
          %th.col-3.col-md-2
            = t(:targets)[:table][:name]
          %th.col-3.col-md-2
            = t(:targets)[:table][:category]
          %th.col-md-2.d-none.d-md-table-cell
            = t(:targets)[:table][:unit]
          %th.col-md-1.d-none.d-md-table-cell
            = t(:targets)[:table][:update_frequency]
          %th.col-3.col-md-3
            = t(:targets)[:table][:indicators]
          %th.col-3.col-md-2
            = t(:targets)[:table][:actions]
      %body
        - department.targets.eager_load(:category).each do |target|
          %tr
            %td.text-center.align-middle
              = link_to target.name, 'javascript:void(0)', role: 'button', title: t(:targets)[:fields][:name], tabindex: 0, data: { toggle: 'popover', container: 'body', placement: 'top', animation: 'false', html: 'true', content: render('targets/forms/name_form', target: target) }
            %td.text-center.align-middle.d-none.d-md-table-cell
              = link_to target.category.name, 'javascript:void(0)', role: 'button', title: t(:targets)[:fields][:category], tabindex: 0, data: { toggle: 'popover', container: 'body', placement: 'top', animation: 'false', html: 'true', content: render('targets/forms/category_form', target: target) }
            %td.text-center.align-middle.d-none.d-md-table-cell
              = link_to target.unit, 'javascript:void(0)', role: 'button', title: t(:targets)[:fields][:unit], tabindex: 0, data: { toggle: 'popover', container: 'body', placement: 'top', animation: 'false', html: 'true', content: render('targets/forms/unit_form', target: target) }
            %td.text-center.align-middle
              = link_to target.update_frequency, 'javascript:void(0)', role: 'button', title: t(:targets)[:fields][:update_frequency][:field], tabindex: 0, data: { toggle: 'popover', container: 'body', placement: 'top', animation: 'false', html: 'true', content: render('targets/forms/update_frequency_form', target: target) }
            %td.text-center.align-middle
              .container
                .row
                  -# Placeholders
                  = positive_indicator
                  = neutral_indicator
                  = negative_indicator
            %td.text-center.align-middle
              = delete_target_button(target)
