%h2.mt-5
  = t(:targets)[:table][:header]
= link_to t(:targets)[:new], 'javascript:void(0)', class: 'btn btn-success text-white mb-1'
%table.table.table-bordered.table-sm#targetsTable
  %thead.bg-secondary.text-white.text-center
    %tr
      %th.col-3.col-md-2
        = t(:targets)[:table][:name]
      %th.col-3.col-md-2
        = t(:targets)[:table][:category]
      %th.col-md-2.d-none.d-md-table-cell
        = t(:targets)[:table][:unit]
      %th.col-md-1.d-none.d-md-table-cell
        = t(:targets)[:table][:update_frequency]
      %th.col-3.col-md-3
        = t(:targets)[:table][:indicators]
      %th.col-3.col-md-2
        = t(:targets)[:table][:actions]
  %body
    - department.targets.eager_load(:category).each do |target|
      %tr
        %td.text-center
          = target.name
        %td.text-center.d-none.d-md-table-cell
          = target.category.name
        %td.text-center.d-none.d-md-table-cell
          = target.unit
        %td.text-center
          = target.update_frequency
        %td.text-center.align-middle
          .container
            .row
              -# Placeholders
              = positive_indicator
              = neutral_indicator
              = negative_indicator
        %td.text-center.align-middle
          = edit_target_button(target)
          = delete_target_button(target)

:coffeescript
  $("[data-toggle='tooltip']").tooltip()
