.card.col-lg-6.offset-lg-3
  .card-body
    %h2.text-center
      = t(:targets)[:create_target]

    %form
      = form_for :target, url: targets_path, remote: true do |f|
        .form-group
          = f.label :name, class: 'required'
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :department_id, class: 'required'
          = f.select :department_id, options_from_collection_for_select(@departments, :id, :name), {}, class: 'form-control'
        .form-group
          = f.label :category_id, class: 'required'
          = f.select :category_id, options_from_collection_for_select(@categories, :id, :name), {}, class: 'form-control'
        .form-group
          = f.label :unit, t(:targets)[:unit], class: 'required'
          = f.text_field :unit, class: 'form-control'
        .form-group
          = f.label :update_frequency, class: 'required'
          .form-check 
            = f.label :update_frequency, class: 'form-check-label' do
              = f.radio_button :update_frequency, t(:targets)[:monthly], class: 'form-check-input'
              = t(:targets)[:monthly]
          .form-check
            = f.label :update_frequency, class: 'form-check-label' do
              = f.radio_button :update_frequency, t(:targets)[:yearly], class: 'form-check-input'
              = t(:targets)[:yearly]
        .form-group
          = f.label :comments
          = f.text_area :comments, rows: 3, class: 'form-control'

        = f.submit t(:actions)[:submit], class: 'btn btn-block btn-outline-success'
