.container#categoriesContainer
  - Category.all.each do |category|
    .row.category-row.align-items-centers.justify-content-between.p-2{ class: "category-#{category.id}", style: "background: #{category.color}" }
      .category-header-container.col-8.d-flex.align-items-center.p-0
        = image_tag category.icon.url, class: 'category-icon'
        %h6.text-white
          = category.name
      .category-buttons-container.col-4.d-flex.align-items-center
        = link_to t(:actions)[:edit], edit_category_path(category.id), id: "editCategory#{category.id}", class: 'btn btn-warning', remote: true, ondragstart: "return false"
