.modal-dialog
  .modal-content
    = form_for @category, url: categories_path, method: :post, authenticity_token: true, remote: true do |f|
      
      .modal-header
        %h4.modal-title
          NEW CATEGORY
        %button.close{ type: 'button', aria: { label: 'Close' }, data: { dismiss: 'modal' } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        #formErrors
        .form-group
          = f.label :name, 'NAME', class: 'required'
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :color, 'COLOR', class: 'required'
          = f.select :color, options_for_select(color_select_options), { include_blank: t(:categories)[:select] }, class: 'form-control'
        .form-group
          = f.label :icon, 'ICON'
          = f.file_field :icon, accept: 'image/png,image/jpeg', class: 'col-md-12 px-0'
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]
        = f.submit t(:actions)[:submit], class: 'btn btn-primary'
