.modal-dialog
  .modal-content
    = form_for @category, url: categories_path, method: :post, authenticity_token: true, remote: true do |f|
      
      .modal-header
        %h4.modal-title
          = t(:categories)[:new_header]
        %button.close{ type: 'button', aria: { label: 'Close' }, data: { dismiss: 'modal' } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        #formErrors
        .form-group
          = f.label :name, t(:categories)[:fields][:name], class: 'required'
          = f.text_field :name, class: 'form-control'
        .form-group
          = f.label :color, t(:categories)[:fields][:color], class: 'required'
          = f.select :color, options_for_select(color_select_options), { include_blank: t(:categories)[:fields][:select] }, class: 'form-control'
        .form-group
          = f.label :icon, t(:categories)[:fields][:icon]
          = f.file_field :icon, accept: 'image/jpeg,image/jpg,image/png,image/gif', class: 'col-md-12 px-0'
          %small.form-text.text-muted
            = t(:categories)[:fields][:icon_help_text]
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]
        = f.submit t(:actions)[:submit], class: 'btn btn-primary'
