%p
  = t('devise.mailer.reset_password_instructions.introduction', name: @resource.full_name)

%p
  = t(:devise)[:mailer][:reset_password_instructions][:instructions1]

%p
  = link_to t(:devise)[:mailer][:reset_password_instructions][:confirm], edit_password_url(@resource, reset_password_token: @token)

%p
  = t(:devise)[:mailer][:reset_password_instructions][:instructions2]
%p
  = t(:devise)[:mailer][:reset_password_instructions][:instructions3]
