= stylesheet_link_tag 'users'

.row
  .col-lg-3.order-lg-last
    = render 'departments_dropdown'
  .col-lg-9
    %h2#fullPlantChart
      = "PLANT CHART"
.card
  .card-body
    %h2
      = "PLANT CHART PLACEHOLDER"

.card.mt-5
  .card-body
    %h2
      = "USER RIGHTS PLACEHOLDER"
