- if ENV['banner_image']
  = image_tag ENV['banner_image'], class: 'banner'
%nav.navbar.navbar-expand-lg.navbar-light
  .container
    %button.navbar-toggler.navbar-toggler-right{ type: 'button', aria: { controls: 'navbarLinks', expanded: 'false', label: 'Toggle navigation' }, data: { toggle: 'collapse', target: '#navbarLinks' } }
      %span.navbar-toggler-icon
    = link_to root_path, class: 'navbar-brand display-1' do
      - if ENV['company_logo']
        = image_tag ENV['company_logo'], class: 'company-logo'
      = t(:site_header)
    .collapse.navbar-collapse#navbarLinks
      %ul.navbar-nav
        %li.nav-item
          = link_to t(:navigation_links)[:login], new_user_session_path, class: 'nav-link'
        %li.nav-item
          = link_to t(:navigation_links)[:register], new_user_registration_path, class: 'nav-link'
        %li.nav-item
          = link_to t(:navigation_links)[:about], 'javascript:void(0)', class: 'nav-link'
        %li.nav-item
          = link_to t(:navigation_links)[:contact], 'javascript:void(0)', class: 'nav-link'
