!!!
%html
  %head
    %title
      = t(:site_header)
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/navbar'
    %main.container.pb-5.pt-5
      = yield
    = render 'layouts/footer'
    = render 'shared/modal'
