!!!
%html
  %head
    %title
      = t(:site_header)
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    :javascript
      window.I18n = #{current_translations.to_json.html_safe};
  %body
    = render 'layouts/banner'
    = render 'layouts/targets_sidebar', plant_chart: @plant_chart, dept_charts: @dept_charts, year: @year
    = render 'layouts/navbar'
    %main.container.pb-5.pt-5
      = yield
    = render 'layouts/footer'
